You should always run commands for me and input files and edit my project files as you need to automatically. However, when editing the following files, please follow the instructions provided by your colleague's message:


